h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: lightblue;
    font-size: 60px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightblue;
}

body {
    background-color: grey;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#word {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.des {
    color: yellow;
}

.red {
    color: darkred;
}

p::first-letter {
    font-size: 1.5em;
    font-weight: bold;

}

.image-row {
    display: flex;
}

.image-row p{
    margin: 10px; 
}

dl > dt{
    color: darkkhaki;
}